@{
    ViewBag.Title = "Home Page";
}
<div>
    <form action="" method="post">
        Name: <input type="text" name="Name" placeholder="Name" class="form-control" />

        Id: <input type="text" name="Id" placeholder="Id" class="form-control" />

        Gender: <input type="radio"name="Gender" value="Male" /> Male<input type="radio" name="Gender"  value="Female" /> Female
        <br />Profession:<br />
        <select class="form-control" name="Profession">
            <option selected disabled>Select</option>
            <option>Student</option>
            <option>Teacher</option>
        </select>
        Hobbies:
        <input type="checkbox" value="Games" name="Hobbies[]" /> Games
        <input type="checkbox" value="Sports" name="Hobbies[]" /> Sports
        <input type="checkbox" value="Travelling" name="Hobbies[]" /> Travelling
        <input type="checkbox" value="Music" name="Hobbies[]" /> Music
        <br />
        Date of Birth: <input type="date" name="Dob" /> <br />
        <input type="submit" value="Register" class="btn btn-success" />
    </form>
</div>
<div>
    @if (Model != null)
    {
        <h4>@Model.Name</h4>
        <h4>@Model.Id</h4>
        <h4>@Model.Gender</h4>
        <h4>@Model.Profession</h4>
        <p>@foreach (var item in @Model.Hobbies)
           {@item}</p>
        <h4>@Model.Dob</h4>

    }

</div>